#dcHeaderImage {
	text-align: center;
	margin: 0px, auto;
	padding-top: 25px;
	padding-bottom: 10px;
}

#dcHeaderImage img {
	width: 710px;
	height: 75px;
	border-width: 0px;
	text-align: center;
}

#dcCatalogNav {
	text-align: center;
	padding-bottom: 10px;
}

#dcCatalogNav #catalogTitle {
	letter-spacing: 3px;
	font-size: 12pt;
	font-weight: 700;
}

#dcCatalogNav #catalogNav {
	font-size: 10pt;
}

#dcCatalogNav a {
	text-decoration: underline;
}


#dcListingNav {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 20px;
}

#dcListingNav #listingTitle {
	font-size: 12pt;
	font-weight: 700;
	letter-spacing: 4px
}

#dcListingNav #listingNav {
	font-size: 10pt;
}

#dcListingNav a {
	text-decoration: underline;
}



.dcNavHeaderText {
	font-size: small;
}

.dcStandardBody {
	color: #FFFFFF;
	background-color: #2A2A2A;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.dcNavHeaderTable {
	width: 100%
}

.dcNavHeaderLeft {
	text-align: left;
	width: 50%;
	vertical-align: top;
}

.dcNavHeaderRight {
	text-align: right;
	width: 50%;
	vertical-align: top;
}

.dcNavHeaderImages {
	width: 16px;
	height: 16px;
	border-width: 0px;
}

.dcHeaderImage {
	width: 710px;
	height: 75px;
	border-width: 0px;
	text-align: center;
}