body {
	color: #FFFFFF;
	background-color: #2A2A2A;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

a {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	color: #0066FF;
}


.headerText {
	font-family: 'Hind', Arial, Helvetica, sans-serif ;
}
.headerNav {
	width: 100%;
	text-align: left;
	height: 24px;
}
.headerSocialLinks {
	text-align: right
}
.headerNavText {
	position: absolute;
	font-size: 10pt; 
}
.headerTextMain {
	font-weight: 600;
	font-size: 36pt;
	letter-spacing: 2px;
	line-height: 120%;
}
.headerTextPre {
	letter-spacing: 5px;
	font-size: 12pt;
}
.headerTextSub {
	letter-spacing: 2px;
	line-height: 120%;
	font-size: 12pt;
}
