vti_encoding:SR|utf8-nl
vti_author:SR|daves6000\\Dave
vti_modifiedby:SR|DAVESI7\\david
vti_timelastmodified:TR|27 Nov 2010 23:32:08 -0000
vti_timecreated:TR|07 Nov 2010 00:53:14 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TW|23 Nov 2010 23:18:57 -0000
vti_syncwith_davidconger.com\:21/httpdocs:TW|23 Nov 2010 23:18:57 -0000
vti_syncofs_davidconger.com\:21/httpdocs:TW|24 Nov 2010 06:02:00 -0000
vti_backlinkinfo:VX|you/private/!template-private.aspx you/private/b7e9es9gssbg87rs8hr8rh/index.htm r/34983853429SFA/index.htm you/private/!template-viewonly.aspx you/private/8dg86dg56s5s6s8b8s7/index.htm you/!template.htm you/2010-06-tweetup-2/gen-index.htm you/2010-11-miley-cyrus/gen-index.htm you/aspx/2010-11-miley-cyrus/index-old-634262345192069500.aspx you/2009-12-jingle-bell-bash/index.htm r/06202013LSWRA/index.htm
vti_donotpublish:BW|true
vti_cacheddtm:TX|27 Nov 2010 23:32:08 -0000
vti_filesize:IR|744
